layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    background-effect {
       xray false
    }
}

layer-rule { 
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}
