input {
    keyboard {
        xkb {
            layout "us"
            options "compose:ralt"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

}
